.git
.github
.gitignore

bin
artifacts
*.exe
*.dll
*.so
*.dylib
*.test
*.out

.idea
.vscode
*.swp
*.swo
*~
.DS_Store

docs
site
site-src
*.md
!README.md

.golangci*.yml
.custom-gcl.yml
cloudbuild.yaml
netlify.toml
mkdocs.yml
crd-ref-docs.yaml
Makefile
OWNERS
OWNERS_ALIASES
PROJECT
LICENSE
CONTRIBUTING.md
RELEASE.md
SECURITY.md
SECURITY_CONTACTS
code-of-conduct.md

hack
test
conformance
benchmarking
tools
client-go

__pycache__
*.py[cod]
.pytest_cache
venv
.venv

config/charts/**/Chart.lock
config/charts/**/*.tgz

.env
.env.*
*.log
go.work.sum
